---
layout: default
---
<br><br><br>

<section class="fdb-block team-2">
  <div class="container alert alert-info">
      <h3 style="margin-top: 0px; font-weight: bold;">Updates</h3>

      {% comment %} Do math on unix timstamps to process in liquid {% endcomment %}
      {% assign onemonthago = 'now' | date: '%s' | minus: 2592000 %}
      {% for update in site.updates %}
        {% if update.categories contains 'winter18' %}
          {% comment %} No int filter, use benign math to coerce from string {% endcomment %}
          {% assign update_date = update.date | date: '%s' | times: 1 %}
          {% if update_date > onemonthago %}
            {{ update.output }}
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--<p><a onclick='$("#old-updates").show(); $(this).hide()'>[+] Show older updates</a></p>-->

      <div id="old-updates" style="display: none">

        {% for update in site.updates %}
        {% if update.categories contains 'winter17' %}
        {% comment %} No int filter, use benign math to coerce from string {% endcomment %}
        {% assign update_date = update.date | date: '%s' | times: 1 %}
        {% if update_date <= onemonthago %}
        {{ update.output }}
        {% endif %}
        {% endif %}
        {% endfor %}

      </div><!-- old-updates -->
  </div>
</section>

<section class="fdb-block team-2">
  {% assign anchor_text="Course Overview" %}
  {% assign anchor_name="home" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}
  <p></p>
  <dl class="dl-horizontal">
    <dd> <b>Instructor:</b> <a href="https://www.iitk.ac.in/aero/mangal/"> {{site.instructor}} </a></dd>
    <dd><b>Class Venue:</b> L-9, Lecture Hall Complex</dd>
    <dd><b>Class Timings:</b> Monday (12:00PM &mdash; 1:15PM), Tuesday (9:00AM &mdash; 10:15AM)</dd>
    <dd><b>Office Hours:</b> Tuesday (4:00PM &mdash; 6:00PM) (Helicopter Lab)</dd>
    <dd><b>TA Hours:</b> Monday (After the class) (L9), Friday (5:30PM &mdash; 7:30PM) (G-117/Hall 1)</dd>
  </dl>
  <p>{{site.description}}</p>
</section>

<section class="fdb-block team-2">
  {% assign anchor_text="Course Pre-Requisites" %}
  {% assign anchor_name="prereqs" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}

  <p>There are no formal pre-requisites for the course. However, prior knowledge of dynamics,
  probability and statistics is necessary. The students also need to be proficient in object-oriented
  programming (Python/C++) and MATLAB. Familiarity with basic Linux commands, robotic
  hardware and ROS would be beneficial but is not expected from all students. Lectures and
  workshops will be held to ensure that students do not face difficulties in these areas.</p>

  <p><b> NOTE: </b> The course is being offered to advanced undergraduate and graduate students only.</p>

</section>

<section class="fdb-block team-2">
  {% assign anchor_text="Schedule" %}
  {% assign anchor_name="schedule" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}

    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-warning-sign"></span>
      The course syllabus and the number of lectures allotted for each topic are subject to change in response to
      feedback and class needs throughout the term.
    </div>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th style="min-width: 190px;" colspan="2">Week</th>
          <th style="min-width: 450px;">Topic</th>
          <th style="min-width: 250px;">Summary</th>
        </tr>
        {% for week in site.syllabus %}
          {% if week.categories contains 'winter18' %}
            {{ week.output }}
          {% endif %}
        {% endfor %}
      </table>
    </div><!-- table-responsive -->

    <!--
    <p>Some suggestions for special topics lectures:</p>
    <ul>
    <li>UKF SLAM</li>
    <li>Monte- Carlo Based Methods for Localization</li>
    <li>Deep Learning for Navigation</li>
    </ul>
    -->
</section>


<section class="fdb-block team-2">
  {% assign anchor_text="Grading Policy" %}
  {% assign anchor_name="grading" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}
  <p>
  The tentative weightages for each component of the course are as follows:
  <ul> 
    <li>Mid-Semester Examination (10%) (Closed Notes)</li>
    <li>Quizzes (10%) (Un-announced)</li>
    <li>Homework Assignments (40%) (Individual)</li>
    <li>Course Project (40%) (Groups of 3)</li>
    <li><b>Minimum of 70% attendance (Compulsory)</b></li>
  </ul>
  <b>NOTE:</b> This course does not have an end-semester examination. Instead, there will be a project evaluation towards the end of the course.
  </p>

  <!-- <p><small><em>Range notation [90,93) means 90 is included and 93 is not</em></small></p>

  {% assign anchor_text="Final Grades" %}
  {% assign anchor_name="syllabus-grades" %}
  {% assign anchor_html_entity="h3" %}
  {% include anchor.html %}
  <div class="table-responsive">
  <table class="table grade-table">
    <tr>
      <th></th>
      <th>A*<br /><small>[91,100]</small></th>
      <th>A<br /><small>[80,91)</small></th>
      <th>B<br /><small>[55,80)</small></th>
      <th>C<br /><small>[47,55)</small></th>
      <th>D<br /><small>[33,47)</small></th>
      <th>E<br /><small>[20,33)</small></th>
      <th>F<br /><small>[0,20)</small></th>
    </tr>
  </table>
  </div> -->

  <br>

  {% assign anchor_text="Homework Assignments (40%)" %}
  {% assign anchor_name="syllabus-homework" %}
  {% assign anchor_html_entity="h3" %}
  {% include anchor.html %}

  <p>There would be 4-5 homework assignments in the course. Assignments would comprise of theory as
  well as implementation based questions. Starter code would be provided for most programming
  questions. Some questions might carry forward from one assignment to another (for instance, a
  question in assignment 2 might require you to further build up on the code already developed in
  assignment 1). There might be bonus questions in each assignment carrying extra points.
  Submissions will be managed through <a
  href="https://canvas.instructure.com/login/canvas">Canvas</a>.</p>

  <p><b>NOTE: The use of any unfair means such as plagiarism by any student would be severely punished.</b> For details regarding the mode of submission and penalties imposed for late submissions, compilation errors, etc., refer to <a href="/assets/winter17/references/ae640a-general-instructions.pdf">this</a> document.</p>
  <br>

  {% assign anchor_text="Course Project (40%)" %}
  {% assign anchor_name="syllabus-project" %}
  {% assign anchor_html_entity="h3" %}
  {% include anchor.html %}

  <p>The course heavily emphasizes on the project aspect. You would be required to work in a team of
  2-3 members. The project has to be an implementation of a recent work (from 2013 onwards) in
  robotics appearing in conferences like RSS, ICRA, or IROS. The source code for the same should not
  be publicly available. Points would be given on the basis of code readabilty, documentation, and
  presentation. There would be an abstract submission, a mid-term evaluation and an end-term
  evaluation. A report along with source code for the project will have to be submitted towards the
  end. Again, submissions will be managed through <a
  href="https://canvas.instructure.com/login/canvas">Canvas</a>.</p>

</section>

<section class="fdb-block team-2">
  {% assign anchor_text="Course Staff" %}
  {% assign anchor_name="staff" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}
  <p>
    For doubts related to assignments, send an e-mail to <a href="mailto:{{site.email}}">{{site.email}}</a>.
    For sensitive issues, please e-mail <a href="mailto:mangal@iitk.ac.in">{{site.instructor}}</a> directly.
  </p>
  <br>
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <a href="https://www.iitk.ac.in/aero/mangal/">
          <img class="img-fluid" src="/assets/winter17/staff/mangal-kothari.jpg" alt="Mangal Kothari">
        </a>
        <h3><a href="https://www.iitk.ac.in/aero/mangal/">Prof. Mangal Kothari</a></h3>
        <p>
          <i>Course Instructor</i><br />
          <a href="mailto:mangal@iitk.ac.in">mangal@iitk.ac.in</a>
        </p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <a href="https://github.com/aalapshah12297">
          <img class="img-fluid" src="/assets/winter18/staff/aalap-shah.jpg"  alt="Aalap Shah"/>
        </a>
        <h3><a href="https://github.com/aalapshah12297">Aalap Shah</a></h3>
        <p>
          <i>Teaching Assistant</i><br />
          <a href="mailto:aalap@iitk.ac.in">aalap@iitk.ac.in</a>
        </p>
      </div>
  </div>
</section>

<section class="fdb-block team-2">
  {% assign anchor_text="References" %}
  {% assign anchor_name="reference" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}
  <ol>
    <li>Probabilistic Robotics by Sebastian Thrun, Wolfram Burgard and Dieter Fox. MIT press, 2005.</li>
    <li>Principles of Robot Motion: Theory, Algorithms and Implementations by Howie Choset <i>et al.</i>. MIT Press, 2005.</li>
    <li>State Estimation for Robotics by Timothy D. Barfoot</li>
    <li>A Gentle Introduction to ROS by Jason M. O'Kane (<a href="https://www.cse.sc.edu/~jokane/agitr/">available online</a>)</li>
    <li><a href="http://wiki.ros.org/">ROS Wiki</a></li>
  </ol>

</section>
