---
layout: default
---
<br><br><br>

<section class="fdb-block team-2">
  <div class="container alert alert-info">
      <h3 style="margin-top: 0px; font-weight: bold;">Updates</h3>

      {% comment %} Do math on unix timstamps to process in liquid {% endcomment %}
      {% assign onemonthago = 'now' | date: '%s' | minus: 2592000 %}
      {% for update in site.updates %}
        {% if update.categories contains 'winter17' %}
          {% comment %} No int filter, use benign math to coerce from string {% endcomment %}
          {% assign update_date = update.date | date: '%s' | times: 1 %}
          {% if update_date > onemonthago %}
            {{ update.output }}
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--<p><a onclick='$("#old-updates").show(); $(this).hide()'>[+] Show older updates</a></p>-->

      <div id="old-updates" style="display: none">

        {% for update in site.updates %}
        {% if update.categories contains 'winter17' %}
        {% comment %} No int filter, use benign math to coerce from string {% endcomment %}
        {% assign update_date = update.date | date: '%s' | times: 1 %}
        {% if update_date <= onemonthago %}
        {{ update.output }}
        {% endif %}
        {% endif %}
        {% endfor %}

      </div><!-- old-updates -->
  </div>
</section>

<section class="fdb-block team-2">
  {% assign anchor_text="Course Overview" %}
  {% assign anchor_name="home" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}
  <p></p>
  <dl class="dl-horizontal">
    <dd> <b>Instructor:</b> {{site.instructor}}</dd>
    <dd><b>Lecture Venue:</b> L-9, LHC, IIT Kanpur</dd>
    <dd><b>Timings:</b> Monday, Wednesday (5:10PM &mdash; 6:30PM) </dd>
  </dl>
  <p>{{site.description}}</p>
</section>

<section class="fdb-block team-2">
  {% assign anchor_text="Course Pre-Requisites" %}
  {% assign anchor_name="prereqs" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}
  <p>There are no formal pre-requisties for the course. However, knowledge of dynamics,
    probability and statistics are necessary. Familiarity with object-oriented programming,
    MATLAB and ROS would be beneficial.</p>
  <p>The course is being offered to advance undergraduate and graduate students only.</p>

</section>

<section class="fdb-block team-2">
  {% assign anchor_text="Lecture Organization" %}
  {% assign anchor_name="syllabus" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}

    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-warning-sign"></span>
      The syllabus is subject to change in response to
      feedback and class needs throughout the term.
    </div>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th style="min-width: 190px;" colspan="2">Week</th>
          <th style="min-width: 500px;">Topic</th>
          <th style="min-width: 200px;">References</th>
        </tr>
        {% for week in site.syllabus %}
          {% if week.categories contains 'winter17' %}
            {{ week.output }}
          {% endif %}
        {% endfor %}
      </table>
    </div><!-- table-responsive -->

    <!--
    <p>Some suggestions for special topics lectures:</p>
    <ul>
    <li>UKF SLAM</li>
    <li>Monte- Carlo Based Methods for Localization</li>
    <li>Deep Learning for Navigation</li>
    </ul>
    -->
</section>


<section class="fdb-block team-2">
  {% assign anchor_text="Attendance, Grading, and Homework" %}
  {% assign anchor_name="grading" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}
  <p>
  This course is graded on a straight scale, it will not be curved. There are a
  total of 100 possible points in this course.  You are expected to earn 40 points
  from Homework Assignments, 40 points from Project, 5 points from Attendance and 15 points from
  Mid-Semester Examination. However each section has modest opportunity for extra credit
  that can cover missing points elsewhere.
  </p>
  <p><small><em>Range notation [90,93) means 90 is included and 93 is not</em></small></p>

  {% assign anchor_text="Final Grades" %}
  {% assign anchor_name="syllabus-grades" %}
  {% assign anchor_html_entity="h3" %}
  {% include anchor.html %}
  <div class="table-responsive">
  <table class="table grade-table">
  	<tr>
  		<th></th>
  		<th>A*<br /><small>[91,100]</small></th>
  		<th>A<br /><small>[77.91)</small></th>
  		<th>B<br /><small>[55,77)</small></th>
  		<th>C<br /><small>[47,55)</small></th>
  		<th>D<br /><small>[33,47)</small></th>
  		<th>E<br /><small>[15,33)</small></th>
  		<th>F<br /><small>[0,15)</small></th>
  	</tr>
  </table>
  </div>

  <br>

  {% assign anchor_text="Homework (40% / 40 points)" %}
  {% assign anchor_name="syllabus-homework" %}
  {% assign anchor_html_entity="h3" %}
  {% include anchor.html %}

  <p>There are 5 homework assignments in the course. Each homework assignment is
  worth 8 points. There might be bonus questions in each assignment carrying extra points.
  Any points over 40 points are worth half their value.</p>

  <p>Late assignments will not be accepted.</p>

  <br>

  {% assign anchor_text="Attendance and Participation (5% / 5 points)" %}
  {% assign anchor_name="syllabus-attendance" %}
  {% assign anchor_html_entity="h3" %}
  {% include anchor.html %}

  <p>Attendance is not compulsory for this course.
  <strong>Bring your laptop to every lecture.</strong>
  Lectures might include some quick quizzes used both to verify comprehension and
  attendance.
  Generally, correct answers will be worth full credit and incorrect answers half
  credit (you were there, but didn&rsquo;t get it right).
  Generally, we will ask at least three questions during class. Not all questions
  may count for attendance credit.
  We reserve the right to experiment with this mechanism a bit throughout the
  semester and vary when and how we ask questions or validate attendance.
  </p>

</section>

<section class="fdb-block team-2">
  {% assign anchor_text="Course Staff" %}
  {% assign anchor_name="staff" %}
  {% assign anchor_html_entity="h2" %}
  {% include anchor.html %}
  <p>
    For general issues, e-mail the course staff at <a href="mailto:{{site.email}}">{{site.email}}</a>.
    For sensitive issues, please e-mail <a href="mailto:mangal@iitk.ac.in">{{site.instructor}}</a> directly.
  </p>
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <a href="https://www.iitk.ac.in/aero/mangal/">
          <img class="img-fluid" src="/assets/winter17/staff/mangal-kothari.jpg" alt="Mangal Kothari">
        </a>
        <h3><a href="https://www.iitk.ac.in/aero/mangal/">Prof. Mangal Kothari</a></h3>
        <p><a href="mailto:mangal@iitk.ac.in">mangal@iitk.ac.in</a></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <a href="https://mayankm96.github.io">
          <img class="img-fluid" src="/assets/winter17/staff/mayank-mittal.jpg"  alt="Mayank Mittal"/>
        </a>
        <h3><a href="https://mayankm96.github.io">Mayank Mittal</a></h3>
        <p><a href="mailto:mayankm@iitk.ac.in">mayankm@iitk.ac.in</a></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <a href="https://www.facebook.com/jay.patrikar">
          <img class="img-fluid" src="/assets/winter17/staff/jay-patrikar.png"  alt="Jay Patrikar"/>
        </a>
        <h3><a href="https://www.facebook.com/jay.patrikar">Jay Partikar</a></h3>
        <p><a href="mailto:jaypat@iitk.ac.in">jaypat@iitk.ac.in</a></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <a href="https://mayankm96.github.io">
          <img class="img-fluid" src="/assets/winter17/staff/krishnraj-singh.jpg"  alt="Krishnraj Singh Gaur"/>
        </a>
        <h3><a href="https://mayankm96.github.io">Krishnraj Singh Gaur</a></h3>
        <p><a href="mailto:ksgaur@iitk.ac.in">ksgaur@iitk.ac.in</a></p>
      </div>
    </div>
  </div>
</section>
