.scale {
  height: 1em;
  width: 1em;
}

.h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.update {
  margin-top: 20px;
}

.syllabus-section-header {
  background-color: #d3d3d3;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.grade-table {
  text-align: center;
}

.grade-table>tbody>tr>th {
  text-align: center;
}

.fc-location {
  color: #EEE;
}

@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}

@screen and (max-width: 767px) {
  .table-responsive>.table>tbody>tr>td {
    white-space: inherit;
  }
}

/* Override bootstrap's default table behavoir */

@media screen and (max-width: 767px) {
  .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td {
    white-space: normal;
  }
}

.syllabus-homework {
  height: 100%;
}

.anchor-icon {
  position: relative;
  left: -25px;
  margin-right: -16px;
}

@media only screen and (max-width: 480px) {
  .anchor-icon {
    display: none;
  }
}
